<!--    Team Webelistics®  Internet Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2023/09/12'     -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> seo_head}}
    <link rel="shortcut icon" href="/images/chatgpt.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    {{> slide_head}}
    <script type="module" src="/js/index.js" content="text/javascript"></script>
    <title>Streaming the ChatGPT API</title>
</head>

<body>
    {{{body}}}
</body>