<header id="header" class="header">
        <img src="/images/OpenAi_white_blank.png" id="openAi" class="openAi-blank" />
        <h1 id="headerH1" class="header-h1">
            Express-Handlebars & Streaming the ChatGPT API
        </h1>
        <br />
        <img src="/images/node.js.png" alt="" id="nodeImg" class="node-img" />
        <img src="/images/express.png" alt="" id="exImg" class="ex-img" />
        <img src="/images/handlebars.png" alt="" id="hbImg" class="hb-img" />
        <img src="/images/ts.png" alt="" id="tsImg" class="ts-img" />
        <img src="/images/js.png" alt="" id="jsImg" class="js-img" />
        <p id="headerPara" class="header-para">
            traversing the API with Node.js, Express, Handlebars, and JavaScript | TypeScript
        </p>
    </header>

    <main>

        <section id="responseSection" class="response-section response">
            <p id="formPara" class="form-para">Hello, ChatGPT:<ul id="paraUL" class="para-UL"></ul></p>
        </section>
        <form name="chatgpt" id="form" class="form">
            <label for="chatgpt" id="label" class="label">ChatGPT</label>
            <input type="text" name="contents" id="chatgpt" class="chatgpt" placeholder="ask me something..." />
            <button type="submit" name="response" id="submit" class="form-button">Submit</button>
        </form>
    </main>